<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Chase Terzian</title>
    <!-- // <script src="javascripts/jquery-1.12.0.min.js"></script> -->
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="javascripts/jquery.js"></script>
</head>

<body>
<hr class='hr-small2'>
	<hr class='hr-small'>
	<hr class='hr-small2'>
	<hr class='hr-small'>
	<hr class='hr-small2'>
	<hr class='hr-small'>
	<hr class='hr-small'>
	<hr class='hr-small'>
	<hr class='hr-small'>
	<hr class='hr-small'>
	<hr class='hr-small'>
	<hr class='hr-small'>
	<hr class='hr-small'>
	<hr class='hr-small'>
	<hr class='hr-small'>
	<hr class='hr-small'>
	<hr class='hr-small'>
	<hr class='hr-small2'>
	<hr class='hr-small'>
	<hr class='hr-small2'>
	<hr class='hr-small'>
	<hr class='hr-small2'>
	<hr class='hr-small'>
	<hr class='hr-small2'>

	<div id='landing-link'>
		<h1><a class='btn3' id='click-to-enter' href="testing-area" >Click To Enter Testing Area</a></h1>

		<hr id='hr6'>
		<hr id='hr5'>
		<hr id='hr4'>
		<hr id='hr3'>
		<hr id='hr2'>
		<hr id='hr1'>
	</div>

</body>
</html>